<nz-layout>
    <nz-header>
      <div class="logo">
        <img src="../../assets/lake-1915846_640.jpg" alt="Sailboat on Calm Sea"  height="60"> 
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>Home</li>
        <li nz-menu-item>Table</li>
        <li nz-menu-item disable >Graphs
        </li>
      </ul>
    </nz-header>
    <app-table [data]="data"></app-table>

  

  
    <nz-footer>Eleanor Casson https://github.com/ESCasson/instruments</nz-footer>
  </nz-layout>
