<nz-content>
    <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Table
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
          <div class="table-wrapper">
              <div class="spacer">

              </div>
              <div class="table">
                  <ng-container *ngIf="data.length > 0 else noData">
                    <ng-container  *ngFor="let col of types">
                        <div class="col-header" (click)="handleSort(col)">
                            {{col}}      <i nz-icon nzType="down-square" nzTheme="outline"></i>
                        </div>
  
                    </ng-container>
                    <ng-container *ngFor="let row of data">
                     
                            <ng-container *ngFor="let item of row | keyvalue">
                                <div 
                                 [ngClass]="getCSSClasses(row, item)"
                                >
                                    {{item.value}}
                               
                                </div>
                            </ng-container>
                            
                 
                    
  
                    </ng-container>
                  </ng-container>
                  <ng-template #noData>
                      <div>
               
                      </div>
                      <div class="noData">
                        No Data
                      </div>
                      <div>
                
                      </div>
                  </ng-template>

              </div>
              <div class="spacer">

            </div>

          </div>
          
      </div>

</nz-content>
  

