<nz-content>
    <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Table
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
          <div class="table-wrapper">
              <div class="spacer">

              </div>
              <div class="table">
                  <ng-container *ngIf="data">
                    <ng-container  *ngFor="let col of types">
                        <div class="col-header" (click)="handleSort(col)">
                            {{col}}
                        </div>
  
                    </ng-container>
                    <ng-container *ngFor="let row of data">
                      <ng-container *ngFor="let item of row | keyvalue">
                          <div>
                              {{item.value}}
                              <i nz-icon nzType="down-square" nzTheme="outline"></i>
                          </div>
                      </ng-container>
  
                    </ng-container>
                  </ng-container>

              </div>
              <div class="spacer">

            </div>

          </div>
          
      </div>

</nz-content>
  

