@media screen and (max-width: 600px){
  nz-content {
    padding: 0px 10px;
  }

  .inner-content{
    padding: 0px
  }
}
@media screen and (min-width: 600px){
  nz-content {
    padding: 0px 50px;
  }

  .inner-content{
    padding: 24px;
  }
}


nz-breadcrumb {
    margin: 16px 0;
  }

  

  [nz-menu] {
    line-height: 64px;
  }

  .inner-content {
    background: #fff;
    min-height: 280px;
  }

  .table-wrapper {
      display: grid;
      grid-template-columns: auto minmax(300px, 800px) auto;
    
  }
 

  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-auto-rows: 35px;
    text-align: center;
    border: 2px solid #33658A;
    background-color: #F2FDFF ;
  }

  .col-header {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #33658A;
      margin-bottom: 5px;
      
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    padding-left: 5px;
  }

  .macro {
    background-color: white;
  }

  .equities {
    background-color: #0486D6
  }

  .credit {
    background-color: #059677
  }

  .negative {
    color:#A62108
  }

  .postive {
    color: #070F51
  }

  .noData {
    display: flex;
    justify-content: center;
    align-items: center;
  }

