<nz-content>
    <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Table
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
          <div class="table-wrapper">
              <div class="spacer">
spacer
              </div>
              <div class="table">
                  table
              </div>
              <div class="spacer">
spacer
            </div>

          </div>
          
      </div>

</nz-content>
  

